@model IEnumerable<Ass3.Models.Employee>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Sort by Departments", "SortByDepartment", "Employee")
<div style="clear:both;"></div>
@{
    var temp = "";
    foreach (var item in Model)
    {
        if (temp != item.Department)
        {
            <div style="clear:both;"></div>
            temp = item.Department;
        }
    <div style="float:left; width:200px;" >
        <h3>@item.Name</h3>
        <p>Department: @item.Department</p>
        <p>Phone: @item.Phone</p>
        <p>Email: @item.Email</p>
        @Html.ActionLink("Edit", "EditEmployee", item, new { @class = "btn btn-warning" })
        @Html.ActionLink("Remove", "RemoveEmployee", item, new { @class = "btn btn-danger" })
    </div>
    }
}
<div style="clear:both;"></div>
<h3>Add new Employee</h3>
@using (Html.BeginForm("AddEmployee", "Employee", FormMethod.Post))
{
    <p>Company: <input name="name" placeholder="Anton Björkman" /></p>
    <p>Department:<br />
    <input type="radio" name="department" value="Development"> Development<br>
    <input type="radio" name="department" value="Design"> Design<br>
    <input type="radio" name="department" value="Finance"> Finance <br />
    <input type="radio" name="department" value="Support"> Support <br />
    <input type="radio" name="department" value="Sales"> Sales <br />
    </p>

    <p>Phone: <input name="phone" placeholder="070-113 89 31" /></p>
    <p>Email: <input type="email" name="email" placeholder="anton@mail.com" /></p>
    <input type="submit" value="OK" class="btn btn-success" />
}
