@model IEnumerable<Ass3.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach (var item in Model)
{
    using (@Html.BeginForm("RemoveCustomer", "Customer", FormMethod.Post))
    {
        <div>
            <h3>@item.Company</h3>
            <p>Organisation number: @item.OrganizationNmb</p>
            <p>Phone: @item.Phone</p>
            @Html.ActionLink("Edit", "EditCustomer", item, new { @class = "btn btn-warning" })
            @Html.ActionLink("Remove", "RemoveCustomer", item, new { @class = "btn btn-danger" })
        </div>
    }

}
<h3>Add new Customer</h3>
@using (Html.BeginForm("AddCustomer", "Customer", FormMethod.Post))
{
    <p>Company: <input name="company" placeholder="Microsoft" /></p>
    <p>Oraganization Number: <input name="oNmb" placeholder="789456132" /></p>
    <p>Phone: <input name="phone" placeholder="070-113 89 31" /></p>
    <input type="submit" value="OK" class="btn btn-success"/>
}
  




