@model Ass3.Models.Product
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (@Html.BeginForm("ChangeProduct", "Product", FormMethod.Post))
{
    <p>Name: <input name="name" value="@Model.Name" /></p>
    <p>Description: <input name="description" value="@Model.Description" /></p>
    <p>Size: <input name="size" value="@Model.Size" /></p>
    <p>Date: <input name="date" value="@Model.Date.ToString()" /></p>
    <p>Cost: <input name="cost" value="@Model.Cost" /></p>
    <p>Img Src: <input name="imgsrc" value="@Model.ImgSrc" /></p>
    <input name="id" value="@Model.ID" hidden="hidden" />
    <input type="submit" value="Change" />
}